@import "./index.scss";

.card-container {
  width: 305px;
  background-color: $White;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  text-decoration: none;
  box-shadow: rgba(128, 128, 128, 0.2) 0px 3px 5px -1px;
  text-align: left;
  font-size: $HomepageItemsFontSize;
  transition: box-shadow 0.25s ease, transform 0.25s ease;

  &.light {
    background-color: $White;
    .info-container {
      color: $VeryDarkBlue;
    }
    p {
      color: $VeryDarkBlue;
    }
    span {
      color: $VeryDarkBlueText;
    }
  }
  &.dark {
    background-color: $DarkBlue;
    .info-container {
      color: $White;
    }
    p {
      color: $White;
    }
    span {
      color: $White;
    }
  }

  .flag-container {
    border-radius: 7px 7px 0 0;
    width: 100%;
    height: 170px;

    img {
      border-radius: 7px 7px 0 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .info-container {
    padding: 1.5rem;
    color: $VeryDarkBlue;

    &.light {
      background-color: $VeryLightGray;
    }
    &.dark {
      span {
        color: $VeryLightGray;
      }
    }

    .country-name {
      font-size: 1.1rem;
      margin-bottom: 1rem;
      font-weight: 800;
    }

    p {
      font-weight: 600;
      line-height: 1.4rem;

      span {
        font-weight: 400;
        color: $VeryDarkBlueText;
      }
    }
  }

  &:hover {
    box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.2) 0px 30px 60px -30px;
    transform: scale(1.025);
  }
}

@media screen and (max-width: 480px) {
  .card-container {
    width: 90%;
    margin: 1rem auto;
  }

  .info-container {
    text-align: center;
  }
}
