@import "./index.scss";

.country-page {
  height: 100vh;
  padding: 6rem 3rem;

  &.light {
    background-color: $White;
    .info-container {
      color: $VeryDarkBlue;
    }
    p {
      color: $VeryDarkBlue;
    }
    span {
      color: $VeryDarkBlueText;
    }
  }
  &.dark {
    background-color: $VeryDarkBlue;
    .info-container {
      color: $White;
    }
    p {
      color: $White;
    }
    span {
      color: $VeryLightGray;
    }
    h1 {
      color: $White;
    }
    a {
      background-color: $DarkBlue;
      color: $White;

      &:hover {
        background-color: $VeryDarkBlue;
      }
    }
  }

  .back-btn {
    all: unset;
    padding: 0.5rem 1.35rem;
    border-radius: 5px;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.65rem;
    margin-bottom: 3rem;
    color: $DarkBlue;
    font-size: 0.95rem;
    font-weight: 600;
    background-color: $White;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;

    &.light {
      background-color: $VeryLightGray;
    }
    &.dark {
      background-color: $DarkBlue;
      color: $White;

      &:hover {
        background-color: $VeryDarkBlue;
      }
    }

    svg {
      width: 25px;
    }
    &:hover {
      cursor: pointer;
      background-color: $VeryLightGray;
    }
  }
}

.country-info-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $DarkBlue;
}

.image-container {
  width: 45%;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.text-container {
  width: 40%;
  text-align: left;

  h1 {
    color: $VeryDarkBlueText;
    margin-bottom: 2rem;
  }
}

.small-text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4rem;

  p {
    font-weight: 800;
    line-height: 1.75rem;
  }

  span {
    font-weight: 400;
  }
}

.border-container {
  display: flex;
  align-items: center;
  margin-top: 3rem;

  p {
    font-weight: 800;
  }
}

.border-countries {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  &.light {
    background-color: $VeryLightGray;
  }
  &.dark {
    color: $White;
  }

  a {
    font-size: 0.75rem;
    text-decoration: none;
    color: $VeryDarkBlue;
    font-weight: 800;
    padding: 0.35rem 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;

    &:hover {
      cursor: pointer;
      background-color: $VeryLightGray;
    }
  }
}

@media screen and (max-width: 480px) {
  .country-page {
    margin-top: 4rem;
    height: 100%;
    padding: 2rem;
  }

  .country-info-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .image-container {
    width: 100%;
  }

  .text-container {
    width: 100%;
  }

  .small-text-container {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  .border-container {
    flex-direction: column;
  }

  .border-countries {
    margin: 1rem 0;
    justify-content: flex-start;
  }
}
