@import "./index.scss";

.home-container {
  min-height: 100vh;
  margin-top: 70px;
  padding-bottom: 2.5rem;
  background-color: $VeryLightGray;

  &.light {
    background-color: $VeryLightGray;
  }
  &.dark {
    background-color: $VeryDarkBlueText;
    color: $White;
  }
}

.country-container {
  height: 100%;
  background-color: $VeryLightGray;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 3.5rem;

  &.light {
    background-color: $VeryLightGray;
  }
  &.dark {
    background-color: $VeryDarkBlueText;
    color: $White;
  }
}

.load-more-button {
  all: unset;
  display: block;
  margin: 2.5rem auto 0 auto;
  background-color: $VeryLightGray;
  color: $VeryDarkBlueText;
  padding: 1rem;
  border-radius: 5px;
  font-size: 0.7rem;
  font-weight: 600;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  &.light {
    background-color: $VeryLightGray;
  }
  &.dark {
    background-color: $DarkBlue;
    color: $White;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
}

.filter-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .home-container {
    justify-content: center;
    padding: 0 1.4rem;
  }
}

@media screen and (max-width: 480px) {
  .country-container {
    justify-content: center;
  }
}
