@import "./index.scss";

.not-found-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  background-color: $VeryLightGray;
  text-align: center;

  h1 {
    line-height: 12rem;
    margin: 1rem 0;
    font-size: 10rem;
    font-weight: 800;
    color: $VeryDarkBlue;
  }

  h2 {
    font-size: 1.5rem;
    color: $DarkGray;
    margin-bottom: 2rem;
  }

  a {
    text-decoration: none;
    padding: 1rem;
    border-radius: 5px;
    background-color: $DarkBlue;
    font-size: 0.9rem;
    color: $White;
    font-weight: 600;
    transition: background-color 0.25s ease;

    &:hover {
      background-color: $DarkGray;
    }
  }
}
